.left_side{
    width: 25%;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    transform :translateX(-100%);
    transition : transform 0.3s ease;
    padding: 1.3%;
    background-color: #ffd800;
    z-index: 1001;
}
.left_side.move{
    transform: translateX(0);
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1000;
}